.grid-container {
  margin: 0.2rem 0.5rem;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.dog-card {
  height: 280px;
  border: 1px solid #fff;
}

.loader {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 992px) {
  .grid-container {
    margin: 0.2rem 3rem;
  }

  .dog-card {
    border: 2px solid #fff;
  }
}
