.container {
    height: 200px;
    width: 100%;
    background-color: #4F3E36;
    left: 50%;
}

.title {
    display: flex;
    justify-content: center;
}

.h1-heading {
    font-size: 42px;
    color: #FFF;
}

.form {
    display: flex;
    justify-content: center;
}

.form-input {
    font-family: sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0;
    padding: .5rem 1rem;
    background-color: #FFF;
    border: none;
    width: 80%;
    float: left;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
}

.submit {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: #FFF;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.icon {
    background: #2196F3;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

@media screen and (min-width: 992px) {
    .container {
        padding: 1rem;
    }

    .title {
        margin-bottom: 1rem;
    }

    .form-input {
        width: 60%;
    }
    
    .submit {
        width: 10%;
    }
}