.header-container {
    height: 20vh;
    left: 50%;
    padding: 0.5rem;
}

.title {
    display: flex;
    justify-content: center;
}

.h1-heading {
    font-size: 42px;
    color: #FFF;
}

.form {
    display: flex;
    justify-content: center;
}

.form-input {
    font-family: sans-serif;
    color: #333;
    font-size: 1.2rem;
    margin: 0;
    padding: .5rem 1rem;
    background-color: #FFF;
    border: none;
    width: 80%;
    float: left;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    outline-color: #4f3e36;
}

.submit {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: #FFF;
    font-size: 17px;
    border: none;
    cursor: pointer;
    outline-color: #4f3e36;
}

.icon {
    background: #2196F3;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: .5rem;
    padding: 1rem;
    border: 1px solid #333;
    background: #333;
    opacity: 0.98;
    border-radius: .3rem;
    position: relative;
    z-index: 1;
}

.result-container {
    color: #FFF;
    text-align: center;
    border-bottom: 1px solid #FFF;
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .container {
        padding: 1rem;
    }

    .title {
        margin-bottom: 1rem;
    }

    .form-input {
        width: 60%;
    }
    
    .submit {
        width: 10%;
    }
    
    .results {
        margin: 1rem 25%;
    }
    
}